USE [master]
GO
/****** Object:  Database [KPSCOMRICRExtraction]    Script Date: 28-06-2026 23:31:53 ******/
CREATE DATABASE [KPSCOMRICRExtraction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KPSCOMRICRExtraction', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KPSCOMRICRExtraction.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KPSCOMRICRExtraction_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\KPSCOMRICRExtraction_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KPSCOMRICRExtraction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KPSCOMRICRExtraction]
GO
/****** Object:  User [kpsc]    Script Date: 28-06-2026 23:31:54 ******/
CREATE USER [kpsc] FOR LOGIN [kpsc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [kpsc]
GO
/****** Object:  Table [dbo].[attendance_sheet_data_1]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_sheet_data_1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](500) NOT NULL,
	[center_code] [nvarchar](50) NULL,
	[subcenter_code] [nvarchar](50) NULL,
	[subject_code] [nvarchar](50) NULL,
	[invigilator_signed] [bit] NOT NULL,
	[row_number] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[signature_present] [bit] NOT NULL,
	[omr_no] [nvarchar](50) NULL,
	[registration_no] [nvarchar](50) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_attendance_sheet_data_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance_sheet_data2]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_sheet_data2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](500) NOT NULL,
	[center_code] [nvarchar](50) NULL,
	[subcenter_code] [nvarchar](50) NULL,
	[subject_code] [nvarchar](50) NULL,
	[invigilator_signed] [bit] NOT NULL,
	[row_number] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[signature_present] [bit] NOT NULL,
	[registration_no] [nvarchar](50) NULL,
	[qcab_serial_no] [nvarchar](50) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_attendance_sheet_data2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_log]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[source_module] [nvarchar](100) NOT NULL,
	[sheet_type] [nvarchar](100) NULL,
	[filename] [nvarchar](500) NULL,
	[error_message] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_error_log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[omr_results]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[omr_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](500) NOT NULL,
	[barcode] [nvarchar](100) NULL,
	[bubble_regno] [nvarchar](50) NULL,
	[handwritten_regno] [nvarchar](50) NULL,
	[final_regno] [nvarchar](50) NULL,
	[discrepancy] [bit] NULL,
	[discrepancy_detail] [nvarchar](max) NULL,
	[candidate_signed] [nvarchar](10) NULL,
	[invigilator_signed] [nvarchar](10) NULL,
	[subject_code] [nvarchar](100) NULL,
	[BookletSlNo] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[omr_threshold] [varchar](10) NULL,
	[whitenerflag] [bit] NOT NULL,
	[isblack] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[filename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_attendance_sheet_data_1_filename]    Script Date: 28-06-2026 23:31:54 ******/
CREATE NONCLUSTERED INDEX [IX_attendance_sheet_data_1_filename] ON [dbo].[attendance_sheet_data_1]
(
	[filename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_attendance_sheet_data_1_filename_row]    Script Date: 28-06-2026 23:31:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_attendance_sheet_data_1_filename_row] ON [dbo].[attendance_sheet_data_1]
(
	[filename] ASC,
	[row_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_attendance_sheet_data2_filename]    Script Date: 28-06-2026 23:31:54 ******/
CREATE NONCLUSTERED INDEX [IX_attendance_sheet_data2_filename] ON [dbo].[attendance_sheet_data2]
(
	[filename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_attendance_sheet_data2_filename_row]    Script Date: 28-06-2026 23:31:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_attendance_sheet_data2_filename_row] ON [dbo].[attendance_sheet_data2]
(
	[filename] ASC,
	[row_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_error_log_source_module]    Script Date: 28-06-2026 23:31:54 ******/
CREATE NONCLUSTERED INDEX [IX_error_log_source_module] ON [dbo].[error_log]
(
	[source_module] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_omr_results_filename]    Script Date: 28-06-2026 23:31:54 ******/
CREATE NONCLUSTERED INDEX [IX_omr_results_filename] ON [dbo].[omr_results]
(
	[filename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attendance_sheet_data_1] ADD  CONSTRAINT [DF_attendance_sheet_data_1_invigilator_signed]  DEFAULT ((0)) FOR [invigilator_signed]
GO
ALTER TABLE [dbo].[attendance_sheet_data_1] ADD  CONSTRAINT [DF_attendance_sheet_data_1_signature_present]  DEFAULT ((0)) FOR [signature_present]
GO
ALTER TABLE [dbo].[attendance_sheet_data_1] ADD  CONSTRAINT [DF_attendance_sheet_data_1_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendance_sheet_data2] ADD  CONSTRAINT [DF_attendance_sheet_data2_invigilator_signed]  DEFAULT ((0)) FOR [invigilator_signed]
GO
ALTER TABLE [dbo].[attendance_sheet_data2] ADD  CONSTRAINT [DF_attendance_sheet_data2_signature_present]  DEFAULT ((0)) FOR [signature_present]
GO
ALTER TABLE [dbo].[attendance_sheet_data2] ADD  CONSTRAINT [DF_attendance_sheet_data2_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[error_log] ADD  CONSTRAINT [DF_error_log_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[omr_results] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[omr_results] ADD  DEFAULT ((0)) FOR [whitenerflag]
GO
ALTER TABLE [dbo].[omr_results] ADD  CONSTRAINT [DF_omr_results_isblack]  DEFAULT ((0)) FOR [isblack]
GO
/****** Object:  StoredProcedure [dbo].[InsertOMRResult]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertOMRResult]
    @filename NVARCHAR(500),
    @barcode NVARCHAR(100),
    @bubble_regno NVARCHAR(50),
    @handwritten_regno NVARCHAR(50),
    @final_regno NVARCHAR(50),
    @discrepancy BIT,
    @discrepancy_detail NVARCHAR(MAX),
    @candidate_signed NVARCHAR(10),
    @invigilator_signed NVARCHAR(10),
    @subject_code NVARCHAR(100),
    @BookletSlNo NVARCHAR(100) = NULL,
    @omr_threshold VARCHAR(10) = NULL,
    @whitenerflag BIT = 0,
    @isblack BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM omr_results WHERE filename = @filename)
    BEGIN
        INSERT INTO omr_results (
            filename, barcode, bubble_regno, handwritten_regno, 
            final_regno, discrepancy, discrepancy_detail, 
            candidate_signed, invigilator_signed, subject_code,
            BookletSlNo, omr_threshold, whitenerflag, isblack
        )
        VALUES (
            @filename, @barcode, @bubble_regno, @handwritten_regno, 
            @final_regno, @discrepancy, @discrepancy_detail, 
            @candidate_signed, @invigilator_signed, @subject_code,
            @BookletSlNo, @omr_threshold, @whitenerflag, @isblack
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_attendance_error_log]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   STORED PROCEDURE: sp_insert_attendance_error_log
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_insert_attendance_error_log]
    @source_module  NVARCHAR(100),
    @sheet_type     NVARCHAR(100) = NULL,
    @filename       NVARCHAR(500) = NULL,
    @error_message  NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.error_log (
        source_module,
        sheet_type,
        filename,
        error_message
    )
    VALUES (
        @source_module,
        @sheet_type,
        @filename,
        @error_message
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_attendance_sheet_data_1]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   STORED PROCEDURE: sp_insert_attendance_sheet_data_1
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_insert_attendance_sheet_data_1]
    @filename           NVARCHAR(500),
    @center_code        NVARCHAR(50) = NULL,
    @subcenter_code     NVARCHAR(50) = NULL,
    @subject_code       NVARCHAR(50) = NULL,
    @invigilator_signed BIT = 0,
    @row_number         INT,
    @status             NVARCHAR(50) = NULL,
    @signature_present  BIT = 0,
    @omr_no             NVARCHAR(50) = NULL,
    @registration_no    NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.attendance_sheet_data_1
        WHERE filename = @filename
          AND row_number = @row_number
    )
    BEGIN
        RETURN;
    END;

    INSERT INTO dbo.attendance_sheet_data_1 (
        filename,
        center_code,
        subcenter_code,
        subject_code,
        invigilator_signed,
        row_number,
        status,
        signature_present,
        omr_no,
        registration_no
    )
    VALUES (
        @filename,
        @center_code,
        @subcenter_code,
        @subject_code,
        @invigilator_signed,
        @row_number,
        @status,
        @signature_present,
        @omr_no,
        @registration_no
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_attendance_sheet_data2]    Script Date: 28-06-2026 23:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ============================================================
   STORED PROCEDURE: sp_insert_attendance_sheet_data2
   ============================================================ */
CREATE   PROCEDURE [dbo].[sp_insert_attendance_sheet_data2]
    @filename           NVARCHAR(500),
    @center_code        NVARCHAR(50) = NULL,
    @subcenter_code     NVARCHAR(50) = NULL,
    @subject_code       NVARCHAR(50) = NULL,
    @invigilator_signed BIT = 0,
    @row_number         INT,
    @status             NVARCHAR(50) = NULL,
    @signature_present  BIT = 0,
    @registration_no    NVARCHAR(50) = NULL,
    @qcab_serial_no     NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.attendance_sheet_data2
        WHERE filename = @filename
          AND row_number = @row_number
    )
    BEGIN
        RETURN;
    END;

    INSERT INTO dbo.attendance_sheet_data2 (
        filename,
        center_code,
        subcenter_code,
        subject_code,
        invigilator_signed,
        row_number,
        status,
        signature_present,
        registration_no,
        qcab_serial_no
    )
    VALUES (
        @filename,
        @center_code,
        @subcenter_code,
        @subject_code,
        @invigilator_signed,
        @row_number,
        @status,
        @signature_present,
        @registration_no,
        @qcab_serial_no
    );
END;
GO
USE [master]
GO
